* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav-link {
    padding-left: 60px !important;
}
#header{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
#services{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
#ABOUT{
    background-color: rgb(19, 15, 15);
}
#footer{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}