* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#Header {
    background-image: linear-gradient(to right, #517fa4 100%,  #243949 0%)!important;
    padding-top: 50px;
}

#Services {
    background-color: rgb(24, 30, 34);
}

#About {
    background-color: rgb(19, 15, 15);
}

#Footer {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
#Experience{
    background-color: rgb(24, 30, 34);
}
#Project{
    background-color: rgb(19, 15, 15);
}
.navbar{
    background-image: linear-gradient(to right, #517fa4 100%,  #243949 0%)!important;
}